$background-color: #f8f8f8
$text-color: #cf649a
$button-color: #003366
$font:    Helvetica, sans-serif

body
    background-color: $background-color
    color: $text-color
    font-family: $font

h1
    width: 50%
    margin: auto

form
    width: 50%
    margin: 30px auto

input
    border: none
    margin: 10px 10px

#submit
    background-color: $button-color
    border-radius: 12px
    box-shadow: 1px 1px 3px gray
    color: $background-color
    padding: 15px
